body{
    /*background: linear-gradient(90deg, #4b6cb7 0%, #182848 70%);*/
    font-family: 'Oswald', sans-serif; 
}
/* 
:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
} */
/* globals */
/* body {
  padding-top: 66px;
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
} */
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
  text-align: center;
  letter-spacing: 3px;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
 
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.btn-primary {

  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: rgb(176, 226, 176);
  padding: 0.4rem 0.9rem;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}
.btn-primary:hover {
  background: transparent;
  color: grey;
}
.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}

.loading-gif {
  width : 100px;
  height:auto;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}
/* end of globals */



.navbar {
    position: fixed ;
    top: 0;
    left: 0;
    width: 100%;
    height:3rem;
    background: #F2F2F2;
    z-index: 1;
    box-shadow: 0px 1px 10px rgb(49, 49, 49);
  }
  .nav-header {
    font-size: 30px;
    display: flex;
    padding-left: 10px;
    justify-content: space-between;
  }

  .nav-logo {
    font-family: "Rock Salt";
    font-size: small;
    margin-left: 10px;
    display: inline-block;
    color: var(--mainBlack);
    padding: 0.4rem 0.9rem;
    text-transform: uppercase;
    cursor: pointer;
    
  }
  .nav-btn {
    width: 3rem;
    height: 3rem;
    position: fixed;
    left: 0px;
    top:0px;
    background: rgb(207, 206, 206);
    border: none;
    cursor: pointer;
    outline: none;
  }
  .nav-icon {
    font-size: 1.5rem;
    color: black;
  }
  .nav-links {
    height: 0;
    overflow: hidden;
    transition: var(--mainTransition);
    list-style-type: none;
  }
  .nav-links a {
    
    display: block;
    text-decoration: none;
    padding: 1rem 0;
    color:white;
    transition: var(--mainTransition);
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 3px;
  }
  .nav-links a:hover {
    color: rgb(201, 144, 37);
  }

  .show-nav {
    background: rgb(48, 46, 46);
    height: 100vw;
    width: 10vw;
    position: absolute;
    z-index: auto;
 
    
  }

  
  .welcoming{
    color: white;
    top:100px;

  }

/* Hero */
.defaultHero,
.exploreHero{
  background: url("./assets/images/welcome.svg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Home Page */
.home {
  height: 54vw;
  background: linear-gradient(90deg, #329D9C 0%, #56C5A4 70%);
}

.exploreHero{
  background-image: url("./assets/images/explorebackgrond.jpg");
  color: white;
}

.loginHero{
  width: 600px;
  height: 250px;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -300px;
  padding-top: 25px;
  background-color: white;
  box-shadow: 5px 5px 5px rgb(83, 83, 83);
  border-radius: 10px;
  line-height: 3rem;
}

.loginHero input[type=submit] {
  margin-right: 0;
}

/* Banner */
.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  
}
.banner h1 {
  font-size: 2.5rem;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}
/* End of Banner */
/* Title */
.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
}
/* end of Title */

/* Signup Page */
.signup {
  background-color: yellow;
  font-size: large;
}


.container {
  width: 70vw;
  margin: 0 auto;
  position: absolute;
  top:150px;
  left: 180px;
  padding-top: 25px;
  background-color: white;
  box-shadow: 7px -7px 5px rgb(83, 83, 83);
  border-radius: 10px;
  line-height: 5rem;
}

.welcome {
  font-family: 'Ubuntu Condensed';
  font-size: 2rem;
  letter-spacing: 3px;
  text-align: center;

}

.slogan {
  font-family: 'Ubuntu Condensed';
  text-align: center;
  font-size: 20px;
  padding-top: 2rem;
  letter-spacing: 4px;
}

/*Explore Page*/
.company-cards-container{ 
  flex-wrap:  wrap;
  justify-content: space-evenly; 
  align-content: space-around;
}
.company-card {
  width: 200px;
  height: 300px;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-top: 2rem;
  background-color: rgb(189, 188, 188);
  box-shadow: 3px 3px 2px rgb(83, 83, 83);
  border-radius: 10px;
  line-height: 1rem;  
  text-align: center;
}

.company-logo {
  height: 100px;
  width: auto;
  padding-top: 1rem;
}

.search input[type=text]{
  float: right;
  padding: 5px 100px;
  border: none;
  font-size: 15px;
}

.search input[type=submit]{
  float: right;
  padding: 5px 50px;
  border: none;
  font-size: 15px;
  background-color: rgb(122, 126, 129);
  color: #F2F2F2;
}

.filter {
  font-size: 50px;
  text-align: center;
}

.addto-wishlist {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: rgb(247, 169, 35);
  box-shadow: 1px 1px 1px grey;
  padding: 0.4rem 0.9rem;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
}

.addto-wishlist:hover {
  box-shadow: none;

}

/* login Page */
.login {
  background: linear-gradient(130deg, #56C596 50%, #205072 50%);
  width:100vw;
  height:55vw;
 }

 .form-fields {
  text-align: center;
  letter-spacing: 2px;
  font-size: xx-large;
 }


 .form-fields input[type=text],
 .form-fields input[type=password]{
  margin-left:10px;
  margin-bottom: 10px;
  padding-left: 100px;
  padding-top: 10px;
  font-size: large;
 }

 .loginHero input[type=button] {
  position: absolute;
  right: 100px;
  width: 100px;
  height: 20px;
  display: inline-block;
  text-decoration: none;
  font-size: medium;
  letter-spacing: var(--mainSpacing);
  color: white;
  background: rgb(247, 169, 35);
  border: none;
  box-shadow: 1px 1px 1px grey;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
 }

 

/* Payment */
.payment {
  background-color: pink;
  position:relative;
  top:100px;
  font-size: large;
}

/* about us */
.aboutus {
  background-color: rgb(59, 122, 88);
  position:relative;
  top:100px;
  font-size: large;
}

/* profile */
.profile {
  background-color: rgb(47, 49, 165);
  position:relative;
  top:100px;
  font-size: large;
}

/* tutorial */
..tutorial {
  background-color: rgb(150, 112, 180);
  position:relative;
  top:100px;
  font-size: large;
}

/* services */
.services {
  padding: 6rem 0;
}
.services {
  background: var(--darkGrey);
  text-align: center;
}
.services-center {
  width: 90vw;
  margin:  auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.service span {
  display: inline-block;
  color: var(--primaryColor);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.services h6 {
  letter-spacing: var(--mainSpacing);
  text-transform: uppercase;
}
.services p {
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .services-center {
    width: 95vw;
    max-width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .services p {
    width: 100%;
  }
}
/*end of services */
/* featured rooms */

.featured-rooms {
  padding: 5rem 0;
}
.featured-rooms-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
@media screen and (min-width: 776px) {
  .featured-rooms-center {
    width: 90vw;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}
@media screen and (min-width: 992px) {
  .featured-rooms-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end pf featured rooms */
/* room */
.room {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}
.room:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
}
.price-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: var(--mainWhite);
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  text-align: center;
  transition: var(--mainTransition);
}
.price-top h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
}
.room-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}
.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}
.img-container:hover img {
  opacity: 0.3;
}
.img-container:hover .price-top {
  opacity: 0;
}
.img-container:hover .room-link {
  transform: translate(-50%, -50%) scale(1);
}
.room-info {
  background: var(--darkGrey);
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
}
/* end of room  */
/* single room*/

.single-room {
  padding: 5rem 0 0 0;
}
.single-room-images {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.single-room-images img {
  width: 100%;
  display: block;
}
.single-room-info {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
}
.desc,
.info {
  margin: 1rem 0;
}
.desc h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.desc p {
  line-height: 1.5;
}
.info h3,
.info h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.info h6 {
  font-weight: 300;
}
.room-extras {
  width: 80vw;
  margin: 0 auto 3rem auto;
}
.room-extras h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.extras {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}
@media screen and (min-width: 992px) {
  .single-room-images,
  .single-room-info,
  .room-extras {
    width: 95vw;
    max-width: 1170px;
  }
  .single-room-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
  .info {
    padding-left: 3rem;
  }
}
/* end of single room*/
/* roomlist */
.roomslist {
  padding: 5rem 0;
}
.roomslist-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}

@media screen and (min-width: 776px) {
  .roomslist-center {
    width: 90vw;
  }
}
@media screen and (min-width: 992px) {
  .roomslist-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of roomlist */
/*  rooms fitler*/
.filter-container {
  padding: 5rem 0;
}
.filter-form {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
.form-group {
  text-transform: capitalize;
}
.form-group label {
  display: block;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0.5rem;
}
.form-control {
  width: 100%;
  background: transparent;
  font-size: 1rem;
}
.size-inputs {
  display: flex;
}
.size-input {
  width: 40%;
  padding: 0.2rem;
  border: 1px solid var(--mainBlack);
  border-radius: 0.3rem;
  margin-right: 0.3rem;
}
.single-extra label {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
@media screen and (min-width: 776px) {
  .filter-form {
    width: 70vw;
  }
}
@media screen and (min-width: 992px) {
  .filter-form {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of rooms fitler*/